.header {
    width: 100%;
    background-color: #002a5c;
    padding: 20px;
    text-align: center;
}
  
.logo {
    width: 150px;
    height: auto;
}
  
.content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.content h1 {
    color: #002a5c;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 500;
}
  
.content p {
    color: #333333;
    margin-bottom: 60px;
    font-weight: 400;
}
  
.createPasswordButton {
    background-color: #002a5c;
    color: #ffffff;
    border: none;
    font-weight: bolder;
    padding: 10px 35px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 40px;
}
  
.createPasswordButton:hover {
    background-color: #004080;
}
  
.timestamp {
    color: #6D6D6D;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 300;
}